*.o
*.rle
*.dat
pp?
pp1?
pp??
pp1?a
pp1?b
upc
repdigit
reverse
reverse2
deal
interest
qsort
poker
maxmin
remind
planet
sum
justify
inventory
remind2
tabulate
stackclient
xor
viewmemory
canopen
fcopy
fcat
compress_file
uncompress_file
tnumconv
trand
datetime
quadratic
